a{
    text-decoration: none;
}
body{
    background-color: rgb(194, 212, 194);
}

.package-cont.bg-primary.p-4.pt-5 {
    margin-top: -68px;
    border-radius: 25px;
    
}

.badge {
  
    top: -21px;
    right: 19px;
}

.bonus-cont h2{
    font-size: 70px;
    text-align: center;
}
.bonus-cont h3{
    font-size: 30px;
    text-align:center;
}


/* media query  */

@media only screen and (max-width: 600px){
    
}